body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    .filetree-sidebar {
        margin: 0;
        z-index: 10;
        padding: 10px; 
        top:0px; 
        left:0; 
        position: fixed; 
        height: 100%; 
        background-color: var(--background-secondary); 
        color: var(--text-muted); 
        overflow-y:auto; 
        width: 300px;
    }

}
